results/*.json
__pycache__/
**/__pycache__/
.ipynb_checkpoints/
*.pyc

.vscode/
.idea/

*.zip
*.tar.gz
*.tar.xz
*.tar.bz2

SafeSplit_walkthrough.html
SafeSplit_walkthrough.ipynb.py

cache/data/cifar-10-batches-py
!cache/data/formal_experiment_cache/
